
<div class="comContest-project-wrapper">
	<h2><strong>{project_order}. {compagny}</strong></h2>
	<p class="blockquote">{title}<span class="blockquote">&nbsp;</span></p>
</div>

<div class="comContest-project-infos">
	<h3>Adresse de l'établissement :</h3><p>{address}</p>
	<h3>Responsable(s) du projet :</h3><p>{leaders}</p>
	<h3>Classe :</h3><p>{contributors}</p>
	<h3>Année scolaire :</h3><p>{year}</p>
</div>

<h2>Objectifs et descriptif</h2>
{admin_intro}

<h2>Travaux d'élèves</h2>
{admin_main}
