
<h2>{name}</h2>

<!-- {comment} --><h3 class="addrbook-comment">Description</h3>{comment}<!-- {comment} -->

<!-- {full_address} -->
<h3 class="addrbook-addr">Adresse</h3>
<p>{full_address}</p>
<!-- {full_address} -->

<!-- details[OR] -->
<h3 class="addrbook-contact">Contact</h3>
<h5>
<!-- {phone} -->Tél. : {phone}<br /><!-- {phone} -->
<!-- {fax} -->Fax : {fax}<br /><!-- {fax} -->
<!-- {email} -->Email : {email}<br /><!-- {email} -->
<!-- {web} -->Site web : {web}<br /><!-- {web} -->
</h5>
<!-- details[OR] -->

<!-- {breadcrumb} --><h5>{breadcrumb}</h5><!-- {breadcrumb} -->
